.coinCard {
  padding: 20px 15px 35px 15px;
  border-radius: 10px;
  border: 1px solid var(--primaryBorder);
  cursor: pointer;
}
.coinCard:hover {
  background-color: var(--lighthover);
}

.coinCard-title {
  font-weight: 700;
  font-size: 16 px;
}

.coinCard-logo {
  height: 30px;
  width: 30px;
  margin: 10px 0;
}

.coinCard-symbol {
  font-weight: 700;
  font-size: 16px;
}

.coinCard-categoryDetail {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.coinCard-categoryDetail .value {
  color: var(--coinbaseblue);
  margin: 0 5px 0 0;
  font-size: 18px;
}
