.coinsPage {
  height: calc(100vh - 65px);

  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.globalMarketSummary {
  border: 1px solid var(--primaryBorder);
  border-radius: 10px;
  min-height: 100px;
  padding: 10px 40px;
  margin-top: 25px;
}

.coinMarketSummary-mini .globalMarketSummary,
.coinMarketSummary-mini-full .globalMarketSummary {
  display: none;
}

.coinMarketSummary .header,
.coinMarketSummary-mini .header,
.coinMarketSummary-mini-full .header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}
/* height: 50px; */

.coinMarketSummary .title {
  font-size: 20px;
  font-weight: 700;
}

.globalMarketStat {
  margin-top: 10px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}
.globalMarketStat li {
  text-align: center;
}
.stat h2 {
  color: var(--coinbaseblue);
}
.coinMarketSummary-coins {
  margin-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
  grid-gap: 10px;
}

.coinPage-marketSummary__title {
  font-size: 15px;
  font-weight: 700;
  color: rgb(57, 57, 57);
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.coinMarketSummary-mini .coinPage-marketSummary__title,
.coinMarketSummary-mini .coinMarketSummary-coins,
.coinMarketSummary-mini-full .coinPage-marketSummary__title,
.coinMarketSummary-mini-full .coinMarketSummary-coins {
  display: none;
}

.coinPage-marketSummary__title-min {
  color: rgb(57, 57, 57);
  font-size: 20px;
  font-weight: 700;
}

.assets-table-header .quickFilters {
  display: flex;
  width: 50%;
  max-width: 300px;
  justify-content: space-between;
}

.MuiTableContainer-root,
.MuiPaper-rounded {
  font-family: "Lato", sans-serif !important;
  border-radius: 10px;
}
.MuiPaper-rounded {
  border: 1px solid var(--primaryBorder);
}

.assets-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.assets-table-header .tableTitle {
  background-color: #f1f5fe;
  font-size: 15px;
  font-weight: 600;
  color: var(--coinbaseblue);
  padding: 3px 18px;
  border-radius: 15px;
}
.assets-table-header .tablefilterTimePeriods {
  list-style-type: none;
  display: flex;
  width: 300px;
}

.assets-table-header .tablefilterTimePeriods .timeLabel {
  margin: 0 20px;
  font-weight: 700;
  color: rgb(101, 101, 101);
  cursor: pointer;
  font-size: 14px;
}

.assets-table-header .tablefilterTimePeriods .timeLabel-active {
  margin: 0 20px;
  font-weight: 600;
  color: var(--coinbaseblue);
  cursor: pointer;
}
.assets-table {
  margin-top: 20px;
}

.tableValueCell {
  display: flex;
  align-items: center;
}

.tableValueCell-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.tableValueCell-value {
  margin-left: 10px;
}

@media screen and (min-width: 1550px) {
  .coinsPage {
    padding: 20px 20%;
  }
}

@media screen and (max-width: 1270px) {
  .coinsPage {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 400px) {
  .globalMarketSummary {
    display: none;
  }
}

@media screen and (max-width: 201px) {
  .coinPage {
    padding: 15px 0px;
  }
}
