.coinsPage {
  height: calc(100vh - 65px);

  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.coinMarketSummary-coins {
  margin-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
  grid-gap: 10px;
}

.coinPage-marketSummary__title {
  font-size: 15px;
  font-weight: 700;
  color: rgb(57, 57, 57);
}

@media screen and (min-width: 1550px) {
  .coinsPage {
    padding: 20px 20%;
  }
}
