.coinsPage {
  height: calc(100vh - 65px);

  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}

.globalMarketSummary {
  border: 1px solid var(--primaryBorder);
  border-radius: 10px;
  min-height: 100px;
  padding: 10px 40px;
  margin-top: 25px;
}

.coinMarketSummary .header {
  display: flex;
  align-items: flex-end;
  /* background-color: red; */
  justify-content: space-between;
}

.search-input {
  position: relative;
  width: 50%;
}
.coinPageSearchIcon {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 25px;
  color: rgb(143, 143, 143);
}
.coinPageSearch {
  width: 100%;
  padding: 13px 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 55px;
}

.coinMarketSummary .title {
  font-size: 20px;
  font-weight: 700;
}

.globalMarketStat {
  margin-top: 10px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}
.globalMarketStat li {
  text-align: center;
}
.stat h2 {
  color: var(--coinbaseblue);
}
.coinMarketSummary-coins {
  margin-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
  grid-gap: 10px;
}

.coinPage-marketSummary__title {
  font-size: 15px;
  font-weight: 700;
  color: rgb(57, 57, 57);
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.assets-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.assets-table-header .tablefilterTimePeriods {
  list-style-type: none;
  display: flex;
}

.assets-table-header .tablefilterTimePeriods .timeLabel {
  margin: 0 20px;
  font-weight: 600;
  color: rgb(126, 126, 126);
}
.assets-table {
  margin-top: 20px;
}

.tableValueCell {
  display: flex;
  align-items: center;
}

.tableValueCell-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.tableValueCell-value {
  margin-left: 10px;
}

@media screen and (min-width: 1550px) {
  .coinsPage {
    padding: 20px 20%;
  }
}

@media screen and (max-width: 1270px) {
  .coinsPage {
    padding: 15px 30px;
  }
}
